/*a{
    color: #fff;
}*/
.carousel{
    max-width: 500px;
    display: inline;
}
.social-media-area{
    margin-left: 44%;
    margin-bottom: -28px;
}
.fab .fa-instagram{
    color: #fff;
}
.fab .fa-google-plus-g{
    color: #fff;
}
.fab .fa-linkedin-in{
    margin-right: 20px;
}

.fab .fa-facebook-f {
    margin-right: 20px;
}

.input{
    border-radius: 0;
}

#envelope-icon{
    color: #000;
}

#input-subscribe{
    height: 32px;
}

.subsrcribe-area{
    padding-bottom: 17px;
}

.subscribe-text{
font-size: 20px;
color: #fff;
font-weight: bold;

}
.sub-label{
    float: left;
}
.subsrcribe-area{
    margin-left: 38%;
margin-top: 3%;
}
.desc-footer1{
    margin-left: -130px;
}
.table-footer{
    margin-top: 50px;
    margin-left:8%;


}
.desc-footer{
    word-spacing: 200px;
    margin-bottom: 100px;
    margin-top: 50px;
}


footer{
    background-color: #212020;
}

 #icon-image{
    position: absolute;
    bottom: 0px;
    left: 65px;
    color: black;
    background-color: gray;
}
.sidebar2{
    margin-top: 50px;
    width: 372px;
margin-left: 12px;
}

#follow-sidebar-button{
    border-radius: 0;
    margin-left: 167px;
}
.sidebar-image{
    padding-left: 10px;
    padding-bottom: 10px;
}

#sidebar-content{
    max-width: 180px;
    font-size: 14px;
}

.sidebar{
    margin-top: 50px;
    border: none;

}
button{
    border-color: #000;
    border-radius: 0;
    background-color: #000;
}
p{
    color: #000;
    margin-bottom: 10px;
}


#profile-name{
    padding-top: 5%;
}

.title{
    padding-bottom: 0.75rem;

}

.address{
    margin-bottom: 10px;
}

.opening-hours{
    font-weight: bold;
    padding-left: 5.6%;
    word-spacing: 3px;
    margin-bottom: 10px;
}
.service{
    padding-bottom: 70px;
}

.review-title{
    font-size: 21px;
    color: #000;
     
}

.textarea:not([rows]){
    max-height: 600px;
    min-height: 48px;
}

.button .is-info{
    border-radius: 0;
    background-color: #000;
    border-color: #000;
}

.media{
border:none;
}

.image .is-64x64 {
padding-top: 51px;
}

.lSSlideOuter {
    margin-top:10px;
}
.padding-right-slider {
    /*padding-right: 40px !important;*/
}
.no-margin-slider li {
    margin-right: 0 !important;
}

.lSAction>a {
    background: none;
    text-align: center;
    padding-top: 4px;
    opacity: 1;
}

.lSAction>.lSPrev {
    color: #fff;
    background: black;
    right:0px !important;
    left: inherit;
    margin-top:-3px;

}
.lSAction>.lSNext {
    color: #666;
    background: white;
    right:0px !important;
    left: inherit;
    margin-top:-35px;

}